<script src="<%= Redmine::Utils::relative_url_root %>/plugin_assets/access_tickets/javascripts/jquery.dataTables.js"></script>
<script src="<%= Redmine::Utils::relative_url_root %>/plugin_assets/access_tickets/javascripts/jquery.chosen.js"></script>
<script src="<%= Redmine::Utils::relative_url_root %>/plugin_assets/access_tickets/javascripts/jquery.validate.js"></script>




</fieldset>

<div id="" class="box">

<fieldset>
<legend><h4><%= l(:at_access_list) %></h4></legend>


  <table id="show_access" class="list entities issues issues_index context-menu-container">
    <thead>
    <tr> 
      <th style="width:5%;background-color:white" title="<%= l(:at_issue_number) %>"><%= text_field_tag("issue_number", nil, :title => "", :placeholder => l(:at_issue_search), :maxlength => "64", :style=>"text-align: center !important;width: 100%;", :class => "at_input actions") %></th>   
      <th style="width:15%;background-color:white" title="<%= l(:at_search_employee) %>" style="background:none !important"><%= text_field_tag("search_employee", nil, :title => "", :placeholder => l(:at_search_employee), :maxlength => "64", :style=>"text-align: center !important;width: 100%;", :class => "at_input actions") %>   
        </th>         
      <th style="width:20%;background-color:white" title="<%= l(:at_search_resource) %>"><%= text_field_tag("search_resource", nil, :title => "", :placeholder => l(:at_search_resource), :maxlength => "64", :style=>"text-align: center !important;width: 100%;", :class => "at_input actions") %></th>        
      <th style="width:15%;background-color:white" title="<%= l(:at_search_role) %>"><%= text_field_tag("search_role", nil, :title => "", :placeholder => l(:at_search_role), :maxlength => "64", :style=>"text-align: center !important;width: 100%;", :class => "at_input actions") %></th>        
      <th style="width:20%;background-color:white" title="<%= l(:at_search_note) %>"><%= text_field_tag("search_note", nil, :title => "", :placeholder => l(:at_search_note), :maxlength => "64", :style=>"text-align: center !important;width: 100%;", :class => "at_input actions") %></th> 
      <th style="width:10%;background-color:white" title="<%= l(:at_search_date) %>"><%= text_field_tag("search_s_date", nil, :title => "", :placeholder => l(:at_search_date), :maxlength => "64", :style=>"text-align: center !important;width: 100%;", :class => "at_input actions") %></th> 
      <th style="width:10%;background-color:white" title="<%= l(:at_search_date) %>"><%= text_field_tag("search_e_date", nil, :title => "", :placeholder => l(:at_search_date), :maxlength => "64", :style=>"text-align: center !important;width: 100%;", :class => "at_input actions") %></th>
        <th style="width:20%;background-color:white" title="<%= l(:at_activity) %>" style="background:none !important">   
        </th>      
    </tr> 
      <tr>
        <th style="width:5%" title="<%= l(:at_issue) %>"><a><%= l(:at_issue) %></a></th>
        <th style="width:10%;" title="<%= l(:at_employee) %>"><a><%= l(:at_employee) %></a></th>
        <th style="width:15%;" title="<%= l(:at_resource) %>"><a><%= l(:at_resource) %></a></th>
        <th style="width:15%" title="<%= l(:at_role) %>"><a><%= l(:at_role) %></a></th>
        <th style="width:15%" title="<%= l(:at_note) %>"><a><%= l(:at_note) %></a></th>
        <th style="width:10%" title="<%= l(:at_s_date) %>"><a><%= l(:at_s_date) %></a></th>
        <th style="width:10%" title="<%= l(:at_e_date) %>"><a><%= l(:at_e_date) %></a></th>
        <th style="width:5%;background:none !important; cursor: auto"  title=""><input id="check_all" type="checkbox" class="checker" onclick="check_all_rows(this)"></th>
      </tr>
    </thead>
    <tbody>
    <% for access in IAccess.accesses_list(@user_id,nil,User.current.id) %>
      <tr>
        <td><a href="<%= Redmine::Utils::relative_url_root %>/issues/<%= access[:issue_id] %>">#<%= access[:issue_id] %></a></td>
        <td></td>
        <td>
          <span class="nowrap">
            <a id="<%= access[:i_resource_id] %>" onclick="show_resource(this);" class="" title="<%= l(:at_show_resource_details) %>"><%= access[:i_resource] %></a>
          </span>
        </td>
        <td><%=raw access[:i_roles]*"<br>" %></td>
        <td>
        <% if !access[:description].nil? %>
          <%= access[:description] %>
        <% else %>
          <% for entity in access[:ientities] %>
            <%= entity[:caption] %><br>
          <% end %>
        <% end %>
        </td>
        <td>
          <%= access[:s_date] %>
        </td>
        <td>
          <%= access[:e_date] %>
        </td>
        <td>
        <% if @is_group_lider == true %>
          <input id="access[:r_uid]" type="checkbox" class="entity_checker" onclick="uncheck_single_row(this)">
        <% end %>
        </td>
      </tr>
    <% end %>

    <% for access in IAccess.revoked_accesses_list(@user_id,User.current.id) %>
      <tr class="revoked">
        
        <td><a href="<%= Redmine::Utils::relative_url_root %>/issues/<%= access[:issue_id] %>">#<%= access[:issue_id] %></a></td>
        <td></td>        
        <td>
          <span class="nowrap">
            <a id="<%= access[:i_resource_id] %>" onclick="show_resource(this);" class="" title="<%= l(:at_show_resource_details) %>"><%= access[:i_resource] %></a>
          </span>
        </td>
        <td><%=raw access[:i_roles]*"<br>" %></td>
        <td>
        <% if !access[:description].nil? %>
          <%= access[:description] %>
        <% else %>
          <% for entity in access[:ientities] %>
            <%= entity[:caption] %><br>
          <% end %>
        <% end %>
        </td>
        <td>
          <%= access[:s_date] %>
        </td>

        <td>
        <% if access[:status_id] == 2 %>
          <span title="<%= l(:at_access_deactivated) %> <%= access[:rev_issue_id] %>" style="color: #F78282; cursor: pointer"><%= access[:deactivated_at] %></span>
        <% else %>
          <%= access[:e_date] %>
        <% end %>
        </td>
        <td>
          
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>


<div style="clear: both;"></div>

</fieldset>

</div>



<script type="text/javascript">


  $('#show_expired_accesses').DataTable({
    "bPaginate": false,
    "bInfo": false,
    "oLanguage": {
      "sInfo": "<%= l(:at_sInfo) %>",
      "sInfoFiltered": "<%= l(:at_sInfoFiltered) %>",
      "sInfoEmpty": "<%= l(:at_sInfoEmpty) %>",
      "sZeroRecords": "<%= l(:at_ZeroRecords) %>",
                  "sSearch": "",
      "oPaginate": {
              "sFirst": "<%= l(:at_sFirst) %>",
              "sNext": "<%= l(:at_sNext) %>",
              "sLast": "<%= l(:at_sLast) %>",
              "sPrevious": "<%= l(:at_sPrevious) %>"
      },
      "sLengthMenu": "<%= l(:at_sLengthMenu) %>"
    },
        "columns": [
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
        null,
    ],
  });






$('#wrapper').append('<div id="msgBox"></div>');
  $(document).attr("title", "<%= l(:at_access_list) %>");

  $('#show_access').DataTable({
    "bPaginate": false,
    "bInfo": false,
    "oLanguage": {
      "sInfo": "<%= l(:at_sInfo) %>",
      "sInfoFiltered": "<%= l(:at_sInfoFiltered) %>",
      "sInfoEmpty": "<%= l(:at_sInfoEmpty) %>",
      "sZeroRecords": "<%= l(:at_ZeroRecords) %>",
                  "sSearch": "",
      "oPaginate": {
              "sFirst": "<%= l(:at_sFirst) %>",
              "sNext": "<%= l(:at_sNext) %>",
              "sLast": "<%= l(:at_sLast) %>",
              "sPrevious": "<%= l(:at_sPrevious) %>"
      },
      "sLengthMenu": "<%= l(:at_sLengthMenu) %>"
    },
        "columns": [
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
      { "orderDataType": "dom-text", type: 'string' },
        null,
    ],
  });

$('#issue_number').on( 'input', function () { 
  $('#show_access').DataTable().columns(0).search($('#issue_number').val()).draw();
} );
$('#search_employee').on( 'input', function () { 
  $('#show_access').DataTable().columns(1).search($('#search_employee').val()).draw();
} );
$('#search_resource').on( 'input', function () { 
  $('#show_access').DataTable().columns(2).search($('#search_resource').val()).draw();
} );
$('#search_role').on( 'input', function () { 
  $('#show_access').DataTable().columns(3).search($('#search_role').val()).draw();
} );
$('#search_note').on( 'input', function () { 
  $('#show_access').DataTable().columns(4).search($('#search_note').val()).draw();
} );
$('#search_s_date').on( 'input', function () { 
  $('#show_access').DataTable().columns(5).search($('#search_s_date').val()).draw();
} );
$('#search_e_date').on( 'input', function () { 
  $('#show_access').DataTable().columns(6).search($('#search_e_date').val()).draw();
} );


$('#exp_issue_number').on( 'input', function () { 
  $('#show_expired_accesses').DataTable().columns(0).search($('#exp_issue_number').val()).draw();
} );
$('#exp_search_employee').on( 'input', function () { 
  $('#show_expired_accesses').DataTable().columns(1).search($('#exp_search_employee').val()).draw();
} );
$('#exp_search_resource').on( 'input', function () { 
  $('#show_expired_accesses').DataTable().columns(2).search($('#exp_search_resource').val()).draw();
} );
$('#exp_search_role').on( 'input', function () { 
  $('#show_expired_accesses').DataTable().columns(3).search($('#exp_search_role').val()).draw();
} );
$('#exp_search_note').on( 'input', function () { 
  $('#show_expired_accesses').DataTable().columns(4).search($('#exp_search_note').val()).draw();
} );
$('#exp_search_s_date').on( 'input', function () { 
  $('#show_expired_accesses').DataTable().columns(5).search($('#exp_search_s_date').val()).draw();
} );
$('#exp_search_e_date').on( 'input', function () { 
  $('#show_expired_accesses').DataTable().columns(6).search($('#exp_search_e_date').val()).draw();
} );

  function show_resource(obj) { 
    $.post("<%= Redmine::Utils::relative_url_root %>/access_tickets/show_resource", { resource_id: $(obj).attr('id') },"json");  
  }

  $("#show_access_wrapper").before(' \
    <div id="access_list_action" class="dataTables_wrapper dataTables_length"> \
    </div> \
  ');


  $('div#show_access_length label').attr("style","float:left !important; width: 200px !important"); 
  $('#show_access_length label select').attr("style", "width:65% !important;min-width:0px;padding-top:4px !important;height:33px !important; margin-top:2px");

  $('#show_access_length').attr("style","width:98%;margin-left:3px"); 


  $('.dataTables_length').append('<div style="margin-top: 6px;width:280px;display:inline-block"><input id="hide_revoked" type="checkbox" onclick="hide_revoked_accesses(this)"><label style="margin-left:5px" for="hide_revoked"><%=j l(:at_hide_revoked) %></label></div>');

  <% if @is_group_lider || @is_resgranter || @is_resowner %>

    $('.dataTables_length').append('<div id="employee_management" style="text-align: center;width : 50%;display:inline-block;float: right;margin-left:10px;"></div>');
    $('#employee_management').append('<a style="float:right;margin-right:10px;display:none;padding:0;margin:0;text-align: center;line-height: 35px;font-size:35px;cursor:pointer" class="revoke_access icon-time at_green" title="<%= l(:at_retime_access) %>" onclick="revoke_single_grant(this);"></a>');
    $('#employee_management').append('<a style="float:right;display:none;padding:0;margin:0;text-align: center;line-height: 35px;font-size: 35px;" class="revoke_access icon-close at_red" title="<%= l(:at_revoke_grant_it) %>" onclick="revoke_single_grant(this);"></a>');

    $('#employee_management').append('<button class="button-2 nomargin-bottom" id="at_revoke_all_grants" name="button" style="background-color: #F78282 !important;float: right;margin-left:10px;margin-right:20px;display:none" type="button"><%=j l(:at_revoke_grants_by_dismissal) %></button>');

    $('#employee_management').append('<select class="" id="items_list" style="width: 200px; margin-top: 4px;float: right;margin-left:10px;" onchange="show_items_list(this)"></select>');


    <% if @is_security || @is_resgranter || @is_resowner %>
      $('#show_access').DataTable().column(1).visible( false );
      $('#employee_management').append("<%=j select_tag('sw_type', options_for_select([[l(:at_employee) + ':', 0], [l(:at_resource)+':', 1]], :selected => 0), {:style=>'width: 200px; margin-top: 4px;float: right;margin-left:10px;margin-right:10px;', :include_blank => true, :onchange => 'set_showing_type(this)'} ) %>");
      $('#employee_management').append('<label class="" id="user_list-label" style="margin-top: 5px;float: right;margin-left:10px;display:none"><%= l(:at_showing_type) %>:</label>');
    <% else %>
      $('#employee_management').append('<label class="" id="user_list-label" style="margin-top: 5px;float: right;margin-left:10px;"><%= l(:at_employee) %>:</label>');
    <% end %>
    $('#items_list').append("<option value=''><%=j l(:at_select_employee) %></option>");
    $('#items_list').attr("data-placeholder","<%=j l(:at_select_employee) %>");
    <% for user in @users_list %>
      $('#items_list').append('<option value="<%= user[:id] %>"><%= user[:name] %></option>');
    <% end %>

    $('#items_list option[value=<%= User.current.id %>]').attr('selected','selected');
  <% end %>

$('#show_access').DataTable().column(7).visible( false );
$('#show_expired_accesses').DataTable().column(7).visible( false );

<% if @is_security %>

<% else %>
  $('#show_access').DataTable().column(1).visible( false );
<% end %>

<% if @is_group_lider || @is_resgranter || @is_resowner %>
    function check_all_rows(obj) { 
      var value = 0;
      if ($(obj).is(":checked")) {
        value = 1;
      } else {
        value = 0;
      }
      $('#show_access tbody tr').each(function(){
        if (value == 1) {
          $(this).find('.single_checker').prop('checked','checked');
          $(this).find('input.entity_checker').prop('checked','checked');
        } else {
          $(this).find('.single_checker').prop('checked','');
          $(this).find('input.entity_checker').prop('checked','');
        }
      });

    }

  function update_accesses_list_table(data){
    $('#show_access').DataTable().clear().draw();
    $.each(data[0],function(i){
      var description,checkbox,e_date,resource,users;
      users = '';
      $.each(this["users_ids"], function(i) {
        user = '<span class="nowrap add-user-links" data-id="1"><a href="<%=j Redmine::Utils::relative_url_root %>/users/'+ this.id + '/profile" class="" data-remote="true" title="<%= l(:title_user_detail) %>">'+ this.name + '</a></span>';
        users = users + user + "<br>";
      });
      resource = '<span class="nowrap"><a id="' + this["i_resource_id"] +'" onclick="show_resource(this);" class="" title="<%= l(:at_show_resource_details) %>">' + this["i_resource"] + '</a></span>';
      if (this["ientities"].length > 0) {
        description = "";
        $.each(this["ientities"],function(i){
          description = description + this["caption"] + '<br>';
        });
      } else {
        description = this["description"];
      }
      checkbox = '<input id="'+ this["r_uid"] +'" type="checkbox" class="entity_checker" onclick="uncheck_single_row(this)">';
      $('#show_access').DataTable().row.add([
      '<a href="<%=j Redmine::Utils::relative_url_root %>/issues/' + this["issue_id"] + '">#'+ this["issue_id"] +'</a>',
      users,
      resource,
      this["i_roles"].join('<br>'),
      description,
      this["s_date"],
      this["e_date"], 
      checkbox
      ]).draw();
    });
    var hidden_class = '';
    if ($('#hide_revoked').is(":checked")) {
      hidden_class = 'revoked hidden';
    } else {
      hidden_class = 'revoked';
    }
    $.each(data[1],function(i){
      var description,actions,e_date,resource,users;
      users = '';
      $.each(this["users_ids"], function(i) {
        user = '<span class="nowrap add-user-links" data-id="1"><a href="<%=j Redmine::Utils::relative_url_root %>/users/'+ this.id + '/profile" class="" data-remote="true" title="<%= l(:title_user_detail) %>">'+ this.name + '</a></span>';
        users = users + user + "<br>";
      });
      resource = '<span class="nowrap"><a id="' + this["i_resource_id"] +'" onclick="show_resource(this);" class="" title="<%= l(:at_show_resource_details) %>">' + this["i_resource"] + '</a></span>';
      if (this["status_id"] == 2) {
        e_date = '<span title="<%= l(:at_access_deactivated) %>' + this["rev_issue_id"] + '" style="color: #F78282; cursor: pointer">' + this["deactivated_at"] + '</span>';
      } else {
        e_date = this["e_date"];
      }
      if (this["ientities"].length > 0) {
        description = "";
        $.each(this["ientities"],function(i){
          description = description + this["caption"] + '<br>';
        });
      } else {
        description = this["description"];
      }
      actions = '';
      $('#show_access').DataTable().row.add([
      '<a href="<%=j Redmine::Utils::relative_url_root %>/issues/' + this["issue_id"] + '">#'+ this["issue_id"] +'</a>',
      users,
      resource,
      this["i_roles"].join('<br>'),
      description,
      this["s_date"],
      e_date, 
      actions
      ]).draw()
      .nodes()
      .to$()
      .addClass( hidden_class );
    });
  }


  function show_items_list(obj) {
<% if @is_security || @is_resgranter || @is_resowner %>
    if ($('#sw_type').val() == 0) {
      $.post("show_accesses", { user_id: $(obj).val() }, function( data ) {
        update_accesses_list_table(data);
      }, "json");
    } else {
      $.post("show_accesses", { resource_id: $(obj).val() }, function( data ) {
        update_accesses_list_table(data);
      }, "json");        
    }
<% else %>
    $.post("show_accesses", { user_id: $(obj).val() }, function( data ) {
      update_accesses_list_table(data);
    }, "json");
<% end %>

  }

function set_showing_type(obj) {
    $("#issue_number").val('');
    $("#search_employee").val('');
    $("#search_resource").val('');
    $("#search_role").val('');
    $("#search_note").val('');
    $("#search_s_date").val('');
    $("#search_e_date").val('');
    $('#show_access').DataTable().columns().search('').draw();
    $('#show_access').DataTable().clear().draw();
  if ($(obj).val() == 0) {
    $('#show_access').DataTable().column(1).visible( false );
    $('#show_access').DataTable().column(2).visible( true );
    show_available_users();
  } else {
    $('#show_access').DataTable().column(1).visible( true );
    $('#show_access').DataTable().column(2).visible( false );
    show_available_resources();
  }
}

function show_available_users() {
  $('#items_list').empty();
  $.post("available_users", { short: true }, function( data ) {
    var users = data[0];
    $('#items_list').append("<option value=''><%=j l(:at_select_employee) %></option>");
    $('#items_list').attr("data-placeholder","<%=j l(:at_select_employee) %>");
    $.each(users,function(i){
      $('#items_list').append('<option value=' + users[i].id + '>' + users[i].name + '</option>');
    });
    $('#items_list').trigger("chosen:updated");
  }, "json");
}

function show_available_resources() {
  $('#items_list').empty();
  $.post("show_resources_list", { short: true }, function( data ) {
    var iresources = data.iresources;
    $('#items_list').append("<option value=''><%=j l(:at_select_resource) %></option>");
    $('#items_list').attr("data-placeholder","<%=j l(:at_select_resource) %>");
    $.each(iresources,function(i){
      var resource_id, resource_name;
      if (iresources[i].i_resource !== undefined) {
        resource_id = iresources[i].i_resource.id;
        resource_name = iresources[i].i_resource.name;
      } else {
        resource_id = iresources[i].id;
        resource_name = iresources[i].name;
      }
      $('#items_list').append('<option value=' + resource_id+ '>' + resource_name + '</option>');
    });
    $('#items_list').trigger("chosen:updated");
  }, "json");
}
<% end %>


function hide_revoked_accesses(obj) {
  var value = 0;
  var i = 0;
  if ($(obj).is(":checked")) {
    value = 1;
  } else {
    value = 0;
  }
  if (value == 1) {
    $('#show_access tbody tr').each(function(){ if ( $(this).hasClass("revoked") ) { $(this).addClass('hidden'); } });
  } else {
    $('#show_access tbody tr').each(function(){ if ( $(this).hasClass("revoked") ) { $(this).removeClass('hidden'); } });
  }
}


var ch_opts = {width:"200px", allow_single_deselect:true, single_backstroke_delete:false,no_results_text:'<%=j l(:at_not_matched)%>',placeholder_text_multiple:' '};
$('#items_list').chosen(ch_opts);

 var ms_ch_opts = {disable_search: true, allow_single_deselect:true, single_backstroke_delete:false,no_results_text:'<%=j l(:at_not_matched)%>',placeholder_text_multiple:''};

$('#sw_type').chosen(ms_ch_opts);
$('#sw_type_chosen').attr("style","float:right;margin-left:10px;width:20%");
$('#items_list_chosen').attr("style","float:right;margin-left:10px;width:50%");
$('#show_access_filter label input[type=search]').hide();
$('#show_expired_accesses_filter label input[type=search]').hide();

</script>


<%= content_tag('div', render(:partial => "/at_css_styles", :locals => {}), :id => 'at_css_styles', :style => ('display:none'), :class => '') %>


